<div class="title-dashboard">
  <h1>Dashboard</h1>
</div>

<div class="container">
  <div class="row">
    <% if current_user.role == "admin" %>

    <div class="col-xs-6 col-sm-4">
      <div class="card" style="background-image: url(<%= image_path 'attribution.svg' %>);">
        <div class="card-category">Attribution</div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4">
      <div class="card" style="background-image: url(<%= image_path 'patient.svg' %>);">
        <div class="card-category">Fiche patient</div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4">
      <div class="card" style="background-image: url(<%= image_path 'alert.svg' %>);">
        <div class="card-category">Alertes</div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4">
      <div class="card" style="background-image: url(<%= image_path 'bracelet.svg' %>);">
        <div class="card-category">Bracelet</div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4">
      <%= link_to bridges_path do %>
      <div class="card" style="background-image: url(<%= image_path 'bridge.svg' %>);">
        <div class="card-category">Bridges</div>
      </div>
      <% end %>
    </div>

    <div class="col-xs-6 col-sm-4">
      <%= link_to pages_account_path do %>
      <div class="card" style="background-image: url(<%= image_path 'profile.svg' %>);">
        <div class="card-category">Créer un compte</div>
      </div>
      <% end %>
    </div>

    <% else %>
      <div class="col-xs-6 col-sm-4">
        <div class="card" style="background-image: url(<%= image_path 'patient.svg' %>);">
          <div class="card-category">Fiche patient</div>
        </div>
      </div>
    <% end %>

  </div>
</div>
