<div class="container">
  <div class="row">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">ID Bridge</th>
          <th scope="col">Dernière connexion</th>
          <th scope="col">Lieu</th>
          <th scope="col">Fugue</th>
        </tr>
      </thead>
      <tbody>
        <% @bridges.each do |bridge| %>
        <tr>
          <th scope="row"><%= bridge.id %></th>
          <td><%= bridge.last_connexion %></td>

          <% if bridge.location && bridge.fugue == "" %>
            <td colspan="2" class="danger" id="bridge-edit">
              <div class="edit-data">
                <%= link_to " Editer les données", bridge_path(bridge), class: "fas fa-edit bridge-edit" %>
              </div>
            </td>
          <% else %>
            <td><%= bridge.location %></td>
            <td><%= bridge.fugue %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
 </div>



